@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #10000a;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 5px #10000a;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header p {
    color: white;
}

li {
    margin-top: 30px;
}

.feedSection {
    display: flex;
    width: 100%;
}

.sideNav {
    display: flex;
    background-color: #10000a;
    width: 11.5%;
    height: 88.2vh;
    box-shadow: 0px 0px 7px 7px #10000a;
    align-items: center;
    position: relative;
}

.itensDiv {
    height: 50%;
}

.itensDiv ul {
    margin: -15px;
}

.itensDiv .sairLoading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itensDiv .sairLoading img {
    display: none;
    width: 60px;
}

.sideNav a {
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #D9E2E7;
    border: none;
    border-radius: 50px;
    margin: -6px;
    padding: 6px 15px;
    display: flex;
    font-size: 18px;
    letter-spacing: 0px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 #a71814;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 1.5s;
}

.sideNav a:hover {
    color: #D9E2E7;
    box-shadow: inset 400px 0 0 0 #0a2b4e;
}

.sideNav .crimes {
    background-color: #a71814;
}

.cadastroPrincipal {
    display: flex;
    height: 88.2vh;
    width: 88.5%;
    background-image: url('../img\ site/fundoMiles.png');
    background-size: 100%;
    justify-content: center;
    align-items: center;
}

.cadastroEsquerdo {
    display: flex;
    width: 55%;
    height: 80%;
    background-color: transparent;
    padding-left: 130px;
}

.cadastroDireito {
    display: flex;
    width: 55%;
    height: 65%;
    background-color: transparent;
}

.hiPeter {
    margin-top: 29%;
    margin-left: 30%;
    position: absolute;
}

.campoCadastro {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 12px;
    background: rgb(15, 0, 9, 0.7);
    border-radius: 40px;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.campoCadastro h1 {
    color: #d3231d;
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.campoTexto {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.campoTexto input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 13px;
    background: #D9E2E7;
    color: black;
    font-size: 15px;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
    outline: none;
    box-sizing: border-box;
}

.campoTexto select {
    width: 70%;
    border: none;
    border-radius: 15px;
    padding: 11px;
    background: #D9E2E7;
    color: black;
    font-size: 14px;
    box-shadow: 0px 10px 40px rgb(15, 0, 0);
    outline: none;
}

.campoTexto label {
    color: white;
    margin-bottom: 10px;
}

button {
    font-family: 'Raleway', sans-serif;
    color: #D9E2E7;
    border: none;
    border-radius: 50px;
    margin: 20px;
    margin-top: 30px;
    padding: 6px 60px;
    display: flex;
    font-size: 20px;
    letter-spacing: 0px;
    cursor: pointer;
    background-color: #0a2b4e;
    box-shadow: inset 0 0 0 0 #10000a;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 1.5s;
}

button:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 #a71814;
}

.loadCrime {
    display: none;
    position: absolute;
    width: 60px;
    margin-left: 20%;
    margin-top: 15%;
}

.cadastroDireito .loadCrime {
    display: none;
    position: absolute;
    width: 60px;
    margin-left: 20%;
    margin-top: 10%;
}

.textoHiPeter {
    display: none;
    position: absolute;
    color: white;
    margin-right: 5%;
    margin-top: 35%;
    background-color: #10000a;
    padding: 10px;
    border-radius: 20px;
}

.cadastroEsquerdo .checkCerto {
    display: none;
    position: absolute;
    width: 60px;
    margin-left: 20%;
    margin-top: 15%;
}

.cadastroDireito .checkCerto {
    display: none;
    position: absolute;
    width: 60px;
    margin-left: 20%;
    margin-top: 10%;
}