@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #10000a;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 5px #10000a;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header p {
    color: white;
}

li {
    margin-top: 30px;
}

.feedSection {
    display: flex;
    width: 100%;
}

.sideNav {
    display: flex;
    background-color: #10000a;
    width: 11.5%;
    height: 88.2vh;
    box-shadow: 0px 0px 7px 7px #10000a;
    align-items: center;
    position: relative;
}

.itensDiv {
    height: 50%;
}

.itensDiv ul {
    margin: -15px;
}

.sideNav a {
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #D9E2E7;
    border: none;
    border-radius: 50px;
    margin: -6px;
    padding: 6px 15px;
    display: flex;
    font-size: 18px;
    letter-spacing: 0px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 #a71814;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 1.5s;
}

.sideNav a:hover {
    color: #D9E2E7;
    box-shadow: inset 400px 0 0 0 #0a2b4e;
}

.sideNav .resultados {
    background-color: #a71814;
}

.feedContent {
    display: flex;
    height: 88.2vh;
    width: 88.5%;
    align-items: center;
    justify-content: center;
    background-image: url('../img\ site/fundoMiles.png');
    background-size: 100%;
}

.containerTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    margin-left: 1%;
    border-radius: 20px;
    gap: 3%;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(15, 0, 9, 0.9);
    border-radius: 25px;
}

.leftContainer h1 {
    margin-left: -30%;
    margin-top: 5%;
    margin-bottom: 7%;
}

.leftContainer .iconeMiles {
    position: absolute;
    margin-bottom: 28.7%;
    margin-left: 15%;
}

.leftContainer .joiaPeter {
    position: absolute;
    margin-left: 30%;
    margin-top: 28%;
}

.leftContainer p {
    margin-left: -50%;
}

.graficoCrimes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 60%;
    margin-bottom: 7%;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    gap: 2%;
}

.spiderHelp {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 25px;
    background: rgb(15, 0, 9, 0.9);
}

.spiderHelp h1 {
    margin-left: -50%;
    margin-top: 8%;
    margin-bottom: 4%;
}

.spiderHelp .iconeMiles2 {
    position: absolute;
    margin-bottom: 12.3%;
    margin-right: 2%;
}

.rightContainer .milesUpDown {
    position: absolute;
    margin-left: 32%;
    margin-bottom: 8%;
    animation: upDownMiles 3s infinite;
}

@keyframes upDownMiles {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.lineHelp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 60%;
    margin-bottom: 7%;
}

.atualizarCrimes {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 25px;
    background: rgb(15, 0, 9, 0.9);
}